*{
    margin: 0;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
}

header h3{
    padding: 5px 10px;
    background: #D1891C;
    font-size: 15px;
}

header h1{
    padding: 30px 20px;
    background: #00669F;
    font-size: 30px;
    color: white;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    position: relative;
    background: #f3f3f3;
    width: 300px;
    height:550px;
    margin: 100px 0;
    text-align: center;
    
}

.card p{
    padding: 10px 0px 20px 0px;
}

.card h2{
    padding-top: 60px;
}

.card .bground{
    border-radius: 5%;
}


button{
    background: #00669F;
    padding: 10px 25px 10px 25px;

}

button a{
    text-decoration: none;
    color: white;
}

.container{
    padding: 2px 16px;
    text-align: center;
}

div i{
    position: absolute;
    top: 20px;
    left: 5px;;
    color: #CC2424;
    font-size: 25px;
}

.fija{
    position: absolute;
    left: calc(50% - (125px / 2));
    top: calc(194px - (125px / 2));
    width: 125px;
    border-radius: 50%;
}

footer {
    background-color: #00669F;
    color: white;
    padding: 5px 10px;
    font-size: 10px;
}

/* Media query */


@media (max-width: 760px) {
    main{
    }

    main div {
        width: 45%;
    }

}


@media (max-width: 420px) {
    main{
        height: 200vh;
    }

    main div {
        width: 95%;
    }

}

